<h1>Feelings Form</h1>
<form class="well">
	<div class="form-group">
		<input type="text" [(ngModel)]="name" name="name" class="form-control"
			placeholder="Add a New Feeling"> <input type="text"
			[(ngModel)]="description" name="description" class="form-control"
			placeholder="Add a Description">
		<div class="well">
			Select the Feeling State: <span
				*ngFor="let key of feelingStates | keysArray "> <input
				type="radio" [(ngModel)]="state" name="state" [value]="key">{{feelingStates[key]
				| emojify }}
			</span> <span class="label label-primary">{{state}}</span>
		</div>
		<input *ngIf="!editMode" (click)="addFeeling($event)" type="button" name="submitButton" value="Add a new Feeling" class="btn btn-link">
		<input *ngIf="editMode" (click)="updateFeeling(editId)" type="button" name="submitButton" value="Update the Feeling" class="btn btn-primary">
		<input *ngIf="editMode" (click)="cancelUpdate()" type="button" name="submitButton" value="Cancel" class="btn btn-primary">
	</div>
</form>

<feelings-list [feelings]="feelings" [editMode]="editMode" (onStartEditing)="onStartEditing($event)" (onDelete)="onDelete($event)"></feelings-list>